    <!-- why choose us section start -->
    <div class="why-choose-us-section rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="choose-us-content-left-wrapper-4">
                        <div class="solari-title-area-four">
                            <span class="pre-title skew-up">Core Strategies</span>
                            <h2 class="title skew-up">Our vission is to make solar energy accessible</h2>
                        </div>

                        <div class="inner-content">
                            <div class="mission-accordion-area">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Environmental Stewardship
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                We recognize the urgent need to address climate change and reduce our dependence on fossil fuels.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Energy Independence
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                We recognize the urgent need to address climate change and reduce our dependence on fossil fuels.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Socio-Economic Advancement
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                We recognize the urgent need to address climate change and reduce our dependence on fossil fuels.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Socio-Economic Advancement
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                We recognize the urgent need to address climate change and reduce our dependence on fossil fuels.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="video-thumbnail-img">
                        <img src="/assets/images/mission/01.jpg" alt="mission">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rts-cta-area-solar cta-soalr-inner-main rts-section-gap">
        <div class="container-full">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="thumbnail pr--40 pr_sm--0">
                        <img src="/assets/images/cta/05.jpg" alt="cta-imaegs">
                    </div>
                </div>
                <div class="col-lg-6 pl--30 mt_sm--50">
                    <div class="solar-left-inner-area-cta">
                        <div class="title-area-left">
                            <p class="pre">
                                <span>About</span> Company
                            </p>
                            <h2 class="title skew-up">
                                Energize Society With <br>
                                Sustainable And Reliable <br>
                                Energy Systems!
                            </h2>
                        </div>
                        <div class="expertiex-solar-inner">
                            <!-- ingle -->
                            <div class="single-exp">
                                <img src="/assets/images/cta/06.png" alt="icon">
                                <div class="info-wrapper">
                                    <h5 class="title">Professional Solar Experts</h5>
                                    <p class="dsic">
                                        Fusce condimentum mattis placerat odio donec lacus porta <br> torquent, mauris gravida rutrum
                                    </p>
                                </div>
                            </div>
                            <!-- ingle end -->
                            <!-- ingle -->
                            <div class="single-exp">
                                <img src="/assets/images/cta/06.png" alt="icon">
                                <div class="info-wrapper">
                                    <h5 class="title">24/7 Customer Support</h5>
                                    <p class="dsic">
                                        Fusce condimentum mattis placerat odio donec lacus porta <br> torquent, mauris gravida rutrum
                                    </p>
                                </div>
                            </div>
                            <!-- ingle end -->
                        </div>
                        <div class="button-area">
                            <a href="#" class="rts-btn btn-primary">Read More <i class="fa-regular fa-arrow-right"></i></a>
                            <div class="call-btn">
                                <i class="fa-solid fa-phone"></i>
                                <div class="info">
                                    <span>Call Us 24/7</span>
                                    <a href="#" class="title">+236-3256.21456</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
