<!-- Strategy Content Start -->
<div class="why-choose-us-section rts-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="choose-us-content-left-wrapper-4">
          <div class="solari-title-area-four">
            <span class="pre-title skew-up">Core Strategies</span>
            <h2 class="title skew-up">
  Making Clean Energy <br>
  Accessible Across <br>
  Sub-Saharan Africa
</h2>
          </div>

          <div class="inner-content">
            <div class="mission-accordion-area">
              <div class="accordion" id="accordionExample">
                {% for item in strategyAccordion %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading{{ loop.index }}">
                    <button class="accordion-button {% if not item.expanded %}collapsed{% endif %}"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ loop.index }}"
                            aria-expanded="{{ item.expanded }}"
                            aria-controls="collapse{{ loop.index }}">
                      {{ item.title }}
                    </button>
                  </h2>
                  <div id="collapse{{ loop.index }}"
                       class="accordion-collapse collapse {% if item.expanded %}show{% endif %}"
                       aria-labelledby="heading{{ loop.index }}"
                       data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      {{ item.content }}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="video-thumbnail-img">
          <img src="/assets/images/mission/01.jpg" alt="mission">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="rts-cta-area-solar cta-soalr-inner-main rts-section-gap">
  <div class="container-full">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="thumbnail pr--40 pr_sm--0">
          <img src="/assets/images/cta/05.jpg" alt="cta-images">
        </div>
      </div>
      <div class="col-lg-6 pl--30 mt_sm--50">
        <div class="solar-left-inner-area-cta">
          <div class="title-area-left">
            <p class="pre">
              <span>Our</span> Impact
            </p>
            <h2 class="title skew-up">
              Energize Society With <br>
              Sustainable And Reliable <br>
              Energy Systems!
            </h2>
          </div>
          <div class="expertiex-solar-inner">
            {% for item in expertiseItems %}
<div class="single-exp">
  <i class="{{ item.icon }} fa-3x" style="color: #24823d;"></i> <!-- Updated to use FontAwesome -->
  <div class="info-wrapper">
    <h5 class="title">{{ item.title }}</h5>
    <p class="dsic">
      {{ item.description }}
    </p>
  </div>
</div>            {% endfor %}
          </div>
          <div class="button-area">
            <a href="/appointments/" class="rts-btn btn-primary">Partner With Us <i class="fa-regular fa-arrow-right"></i></a>
            <div class="call-btn">
              <i class="fa-solid fa-phone"></i>
              <div class="info">
                <span>Call Us 24/7</span>
                <a href="#" class="title">{{ metadata.footer.contact.phone.number }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Strategy Content End -->
