<!-- Appointment Form Area -->
<div class="rts-make-an-appoinemtn-area rts-section-gap reveal">
    <div class="container">
        <div class="row align-items-center g-0 bg-appoinment">
            <div class="col-lg-5 pr--80 pr_md--0 pr_sm--0">
                <div class="thumbnail appoinment-m-thumb">
                    <img src="/assets/images/appoinment/01.jpg" alt="appointment-area">
                    <div class="inner-wrapper">
                        <h6>{{ experience.years }}</h6>
                        <span>{{ experience.text | replace(" ", "<br>") | safe }}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="appoinment-inner-content-wrapper">
                    <h3 class="title animated fadeIn">
                        Make An Appointment
                    </h3>
                    <form
                        name="appointment"
                        method="POST"
                        data-netlify="true"
                        class="appoinment-form mt--40">
                        <input type="hidden" name="form-name" value="appointment">
                        <!-- Redirect to Thank You page after form submission -->
                        <input type="hidden" name="redirect" value="/thank-you/" />
                        <div class="input-half-wrapper">
                            <div class="single-input">
                                <input type="text" name="name" placeholder="Your Name" required>
                            </div>
                            <div class="single-input">
                                <input type="email" name="email" placeholder="Email Address" required>
                            </div>
                        </div>
                        <select name="service" required>
                            <option value="">Select Service</option>
                            {% for option in serviceOptions %}
                            <option value="{{ option.value }}">{{ option.text }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-half-wrapper mt--25 mb--30">
                            <div class="single-input">
                                <input
                                    placeholder="Select your date"
                                    type="text"
                                    name="date"
                                    id="datepicker"
                                    class="calendar"
                                    required
                                    autocomplete="off">
                            </div>
                            <div class="single-input">
                                <input
                                    type="text"
                                    name="time"
                                    id="timepicker"
                                    placeholder="Select Time"
                                    class="ui-timepicker-input"
                                    autocomplete="off"
                                    required>
                            </div>
                        </div>
                        <button type="submit" class="rts-btn btn-primary">SUBMIT MESSAGE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
