{% block content %}
    <div class="rts-about-area rts-section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="about-right-content-area-solar-energy">
                        <div class="title-area-left">
                            <h2 class="title skew-up">
                                Privacy Policy
                            </h2>
                        </div>
                        <!-- Privacy Policy content -->
                        <div class="privacy-policy-content">
                            {{ content | safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
