<!-- rts 404 error page start -->
<div class="rts-about-area rts-section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- 404 error inner content -->
                <div class="about-right-content-area-solar-energy">
                    <div class="title-area-left">
                        <p class="pre">
                            <span>Oops!</span> Page Not Found
                        </p>
                        <h2 class="title skew-up">
                            We Couldn't Find The Page You're Looking For. <br>
                            But Don't Worry, We’ve Got You Covered!
                        </h2>
                    </div>
                    <!-- content text -->
                    <p class="disc">
                        The page you are trying to access may have been moved or no longer exists. Don't worry, you can easily navigate back to a safe spot! If you need help, feel free to reach out to us.
                    </p>
                    <!-- Button to go back to the previous page -->
                    <a href="javascript:history.back()" class="rts-btn btn-primary btn-lg skew-up">
                        Go Back </i>
                    </a>
                </div>
                <!-- 404 error inner content end -->
            </div>
        </div>
    </div>
</div>
<!-- rts 404 error page end -->
