<!-- banner two swiper start -->
<div class="banner-two-swiper-start">
    <div class="swiper mySwiper-banner-2">
        <div class="swiper-wrapper">
            {% for slide in bannerSection.slides %}
            <div class="swiper-slide">
                <div class="banner-two-main-wrapper-solaric{% if loop.index == 2 %} two{% elif loop.index == 3 %} three{% endif %}">
                    <span class="water-text images">Wind</span>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="banner-solari-2-content ptb--200 ptb_sm--130">
                                    <span class="pre">
                                        <span>{{ slide.preTitle }}</span>
                                        {{ slide.preHighlight }}
                                    </span>
                                    <h1 class="banner-title">
                                        {{ slide.title }}
                                    </h1>
                                    <p class="disc">{{ slide.description }}</p>
                                    <div class="button-solari-banner-area">
                                    <a href="{{ slide.cta.url }}" class="rts-btn btn-primary">{{ slide.cta.label }}</a>
                                    <div class="vedio-icone">
                                        <a class="video-play-button play-video" href="{{ bannerSection.videoButton.url }}">
                                            <span></span>
                                            <p class="text">
                                                {{ bannerSection.videoButton.label }}
                                            </p>
                                        </a>
                                        <div class="video-overlay">
                                            <a class="video-overlay-close">×</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination-b2"></div>
    </div>
</div>
<!-- banner two swiper end -->
