
    <!-- header style two -->

    <!-- rts blog area start -->
    <div class="rts-solari-blog-area-start rts-section-gap reveal" id="blog">
        <span class="stok-bg images-r">
            Blog
        </span>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="solari-title-area-three text-center">
                        <span class="pre-title skew-up">Our Blog</span>
                        <h2 class="title skew-up">Latest News Updates</h2>
                    </div>
                </div>
            </div>
            <div class="row g-24 mt--30">
                <div class="col-lg-6">
                    <!-- single blog area start -->
                    <div class="single-blog-solaric-lg">
                        <a href="blog-details.html" class="thumbnail">
                            <img src="assets/images/blog/25.jpg" alt="blog">
                        </a>
                        <div class="inner-content-solari-blog">
                            <div class="head">
                                <div class="single">
                                    <i class="fa-regular fa-clock"></i>
                                    <span>25 Jan, 2022</span>
                                </div>
                                <div class="single">
                                    <i class="fa-regular fa-user"></i>
                                    <span>25 Jan, 2022</span>
                                </div>
                                <div class="single">
                                    <i class="fa-light fa-phone-office"></i>
                                    <span>7 min Read</span>
                                </div>
                            </div>
                            <div class="body">
                                <a href="blog-details.html">
                                    <h5 class="title">Solar Training Program Series: Why is Remote Energy Focused on Training Solar Educators?</h5>
                                </a>
                                <a href="blog-details.html" class="rts-btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- single blog area end -->
                </div>
                <div class="col-lg-6">
                    <div class="single-blog-solaric-sm">
                        <a href="blog-details.html" class="thumbnail">
                            <img src="assets/images/blog/26.jpg" alt="blog-area">
                        </a>
                        <div class="inner-content-solari-blog">
                            <div class="head">
                                <div class="single">
                                    <i class="fa-regular fa-clock"></i>
                                    <span>25 Jan, 2022</span>
                                </div>
                                <div class="single">
                                    <i class="fa-regular fa-user"></i>
                                    <span>25 Jan, 2022</span>
                                </div>
                            </div>
                            <div class="body">
                                <a href="blog-details.html">
                                    <h5 class="title">2019 Gattermann Award wind <br> honors Brad Burkhart Meyer</h5>
                                </a>
                                <a href="blog-details.html" class="rts-btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-solaric-sm">
                        <a href="blog-details.html" class="thumbnail">
                            <img src="assets/images/blog/27.jpg" alt="blog-area">
                        </a>
                        <div class="inner-content-solari-blog">
                            <div class="head">
                                <div class="single">
                                    <i class="fa-regular fa-clock"></i>
                                    <span>25 Jan, 2022</span>
                                </div>
                                <div class="single">
                                    <i class="fa-regular fa-user"></i>
                                    <span>25 Jan, 2022</span>
                                </div>
                            </div>
                            <div class="body">
                                <a href="blog-details.html">
                                    <h5 class="title">2021 Batterman Award honors <br> Brad Burkhart Meyer Green</h5>
                                </a>
                                <a href="blog-details.html" class="rts-btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header style two End -->
