<!-- Banner Section -->
{% include "components/pages/home/banner.njk" %}

<!-- Service Area Section -->
{% include "components/pages/home/serviceArea.njk" %}

<!-- About Section -->
{% include "components/pages/home/about.njk" %}

<!-- Services Section -->
{% include "components/pages/home/services.njk" %}

<!-- Case Studies Section -->
{% include "components/pages/home/workingProcess.njk" %}

<!-- FAQ Section -->
{% include "components/pages/home/faq.njk" %}

<!-- CTA Section -->
{% include "components/pages/home/cta.njk" %}

<!-- Testimonials Section -->
{# include "components/pages/home/testimonials.njk" #}

<!-- Blog Section -->
{# include "components/pages/home/blog.njk" #}

<!-- Partners Section -->
{% include "components/pages/home/partners.njk" %}
