<!-- rts cta area start -->
<div class="rts-cta-area rts-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-solari-wrapper">
                    <div class="left-area">
                        <span class="pre skew-up">
                            <span>{{ ctaSection.preTitle }}</span> {{ ctaSection.preHighlight }}
                        </span>
                        <h4 class="title skew-up">{{ ctaSection.title | safe }}</h4>
                        {% if ctaSection.subtitle %}
                        <p class="subtitle">{{ ctaSection.subtitle }}</p>
                        {% endif %}
                    </div>
                    <div class="right-area">
                        <form
                            name="contact"
                            method="POST"
                            action="/thank-you/"
                            data-netlify="true"
                            netlify-honeypot="bot-field"
                            class="cta-form">
                            <!-- Hidden input for bot protection -->
                            <input type="hidden" name="form-name" value="contact" />

                            <!-- Honeypot field for spam prevention -->
                            <div hidden>
                                <input name="bot-field" />
                            </div>

                            {% for field in ctaSection.form %}
                                {% if field.type !== 'button' %}
                                <div class="single-input">
                                    <input
                                        type="{{ field.type }}"
                                        name="{{ field.id }}"
                                        placeholder="{{ field.placeholder }}"
                                        id="{{ field.id }}"
                                        {% if field.required %}required{% endif %}
                                    >
                                </div>
                                {% else %}
                                <button type="submit" class="{{ field.class }}">{{ field.text }}</button>
                                {% endif %}
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- rts cta area end -->
