<!-- service-area.njk -->
<div class="rts-secvice-area-solaric-banner-bottom start rts-section-gapBottom">
    <div class="container">
        <div class="row g-24">
            {% for service in serviceAreaSection.items %}
            <div class="col-lg-3 col-md-6 cols-md-12 col-12">
                <div class="single-service-solari {% if loop.index > 1 %}{{ loop.index }}{% endif %}">
                    <div class="icon-area">
                        {{ service.icon | safe }}
                    </div>
                    <h5 class="title">{{ service.title }}</h5>
                    <p class="disc">
                        {{ service.description }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
