<!-- service area start -->
<div class="rts-service-area-height-solari rts-section-gap position-relative">
    <span class="stok-bg images-r">
        Our Services
    </span>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-area-center">
                    <p class="pre skew-up">
                        <span>Our</span> Services
                    </p>
                    <h2 class="title skew-up">
                        Comprehensive Clean Energy Solutions
                    </h2>
                </div>
            </div>
        </div>
        <div class="row g-24 mt--20">
            {% for service in services.services %}
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <!-- single service area start -->
                <div class="single-solari-service-start {% if loop.index == 2 %}two{% elif loop.index == 3 %}three{% elif loop.index == 4 %}four{% endif %}">
                    <div class="icon-area">
                        <!-- Default service icon - you can customize per category if needed -->
                        {% if service.category == "Strategic Services" %}
                        <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M36.0892 5.03606C32.8467 5.03606 30.2142 7.66861 30.2142 10.911C30.2142 14.1535 32.8467 16.786 36.0892 16.786C39.3316 16.786 41.9641 14.1535 41.9641 10.911C41.9641 7.66861 39.3316 5.03606 36.0892 5.03606Z" fill="#4AAB3D"/>
                        </svg>
                        {% elif service.category == "Development" %}
                        <svg width="51" height="36" viewBox="0 0 51 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M50.1691 18.2293L35.9942 4.14235C35.9658 4.11417 35.9446 4.10087 35.921 4.08678C35.7855 3.97957 35.6186 3.91304 35.4374 3.91304H33.401L35.9942 1.33591" fill="#4AAB3D"/>
                        </svg>
                        {% else %}
                        <svg width="42" height="50" viewBox="0 0 42 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40.8102 37.8259C36.0781 30.9957 33.4281 28.0137 28.7885 24.3587" fill="#4AAB3D"/>
                        </svg>
                        {% endif %}
                    </div>
                    <a href="/services/{{ service.slug }}/">
                        <h5 class="title">{{ service.title }}</h5>
                    </a>
                    <p class="disc">
                        {{ service.category }}
                    </p>
                    <a href="/services/{{ service.slug }}/" class="read-more-btn">Read More<i class="fa-regular fa-arrow-right"></i></a>
                </div>
                <!-- single service area end -->
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- service area end -->
