    <!-- our working proces area start -->
    <div class="our-working-process-start rts-section-gap">
        <span class="stok-bg images-r">
            Work Process
        </span>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-area-center">
                        <p class="pre  skew-up">
                            <span> Our</span> Working Process
                        </p>
                        <h2 class="title  skew-up">
                            Wind Solar Energy work <br>
                            Project Planning
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row g-24 mt--20">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <!-- single solari steps area staert -->
                    <div class="single-solari-steps-start">
                        <div class="thumbnail">
                            <img src="assets/images/steps/01.png" alt="steps">
                            <div class="steps">
                                <span>02</span>
                            </div>
                        </div>
                        <div class="content">
                            <h5 class="title">Project Planning</h5>
                        </div>
                    </div>
                    <!-- single solari steps area end -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <!-- single solari steps area staert -->
                    <div class="single-solari-steps-start">
                        <div class="thumbnail">
                            <img src="assets/images/steps/02.png" alt="steps">
                            <div class="steps">
                                <span>01</span>
                            </div>
                        </div>
                        <div class="content">
                            <h5 class="title">Research & Analysis</h5>
                        </div>
                    </div>
                    <!-- single solari steps area end -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <!-- single solari steps area staert -->
                    <div class="single-solari-steps-start">
                        <div class="thumbnail">
                            <img src="assets/images/steps/03.png" alt="steps">
                            <div class="steps">
                                <span>03</span>
                            </div>
                        </div>
                        <div class="content">
                            <h5 class="title">Installation amp Maintenance</h5>
                        </div>
                    </div>
                    <!-- single solari steps area end -->
                </div>
            </div>
        </div>
    </div>
    <!-- our working proces area end -->
