<!-- rts case studies area start -->
<div class="rts-case-studyes rts-section-gapBottom bg-white">
    <span class="stok-bg images-r">
        Work Process
    </span>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-area-center">
                    <p class="pre skew-up">
                        <span>{{ workingProcessSection.preTitle }}</span> {{ workingProcessSection.preHighlight }}
                    </p>
                    <h2 class="title skew-up">
                        {{ workingProcessSection.title }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-full mt--45">
        <div class="row">
            <div class="col-lg-12">
                <div class="air-condition-swiper-wrapper">
                    <div class="swiper mySwiper-h-2-c">
                        <div class="swiper-wrapper">
                            {% for slide in workingProcessSection.processSlides %}
                            <div class="swiper-slide">
                                <!-- single case air condition start-->
                                <div class="single-case-ac">
                                    <a href="/appointments/" class="thumbnail">
                                        <img src="{{ slide.image }}" alt="{{ slide.title }}">
                                    </a>
                                    <div class="inner-content">
                                        <div class="inner">
                                            <span class="pre">{{ slide.label }}</span>
                                            <a href="/appointments/">
                                                <h5 class="title">{{ slide.title }}</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- single case air condition end -->
                            </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination-h2-c"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- rts case studies area end -->
