<!-- Services Section -->
<div class="rts-project-page-project rts-section-gap">
    <div class="container">
        <div class="row g-24">
            {% for service in services %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="project-one-wrapper">
                    <div class="shape">
                        <img src="{{ service.shapes.top }}" alt="shape">
                    </div>
                    <a href="/services/{{ service.slug }}/" class="thumbnail">
                        <img src="{{ service.thumbnail }}" alt="{{ service.title }}">
                    </a>
                    <div class="content">
                        <span class="pre">{{ service.category }}</span>
                        <a href="/services/{{ service.slug }}/">
                            <h5 class="title">{{ service.title }}</h5>
                        </a>
                        <img src="{{ service.shapes.bottom }}" alt="shape">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
