{# _includes/components/footer-components.njk #}

<div class="single-footer-component first">
  <div class="title-area">
    <h5 class="title">About Company</h5>
  </div>
  <div class="body">
    <p>{{ site.companyDescription }}</p>
    <div class="rts-social-style-one">
      {% for social in site.socialMedia %}
      <a href="{{ social.url }}" aria-label="{{ social.platform }}">
        <i class="fab fa-{{ social.icon }}"></i>
      </a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="single-footer-component">
  <div class="title-area">
    <h5 class="title">Useful Links</h5>
  </div>
  <div class="body">
    <div class="pages-footer">
      <ul>
        {% for item in navigation.footer %}
        <li><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="single-footer-component">
  <div class="title-area">
    <h5 class="title">What We Do</h5>
  </div>
  <div class="body">
    <div class="pages-footer">
      <ul>
        {% for service in services.main %}
        <li><a href="{{ service.url }}">{{ service.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="single-footer-component last">
  <div class="title-area">
    <h5 class="title">Photo Gallery</h5>
  </div>
  <div class="body">
    <div class="gallery-footer">
      {% for image in gallery.footer %}
      <a href="{{ image.url }}">
        <img src="{{ image.thumbnail }}" alt="{{ image.alt }}">
      </a>
      {% endfor %}
    </div>
  </div>
</div>
