<!-- Footer style two -->
<div class="rts-footer-one footer-bg-one">
    <div class="container">
        <div class="row g-0 bg-cta-footer-one">
            <div class="col-lg-12">
                <div class="bg-cta-footer-one wrapper">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <a href="#" class="logo-area-footer">
                                <img src="{{ metadata.footer.logo }}" alt="{{ metadata.title }}">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-cta-area">
                                <div class="icon">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="contact-info">
                                    <p>{{ metadata.footer.contact.phone.label }}</p>
                                    <a href="tel:{{ metadata.footer.contact.phone.number }}">{{ metadata.footer.contact.phone.number }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-cta-area">
                                <div class="icon">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <div class="contact-info">
                                    <p>{{ metadata.footer.contact.email.label }}</p>
                                    <a href="mailto:{{ metadata.footer.contact.email.address }}">{{ metadata.footer.contact.email.address }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-cta-area last">
                                <div class="icon">
                                    <i class="fa-regular fa-location-dot"></i>
                                </div>
                                <div class="contact-info">
                                    <p>Office Address</p>
                                    <a href="{{ metadata.footer.contact.address.maps_url }}" target="_blank">
                                        {{ metadata.footer.contact.address.line1 }} {{ metadata.footer.contact.address.line2 }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt--90 pb--85 pb_sm--40">
            <div class="col-lg-12">
                <div class="single-footer-one-wrapper">
                    <div class="single-footer-component first">
                        <div class="title-area">
                            <h5 class="title">About</h5>
                        </div>
                        <div class="body">
                            <p class="disc">{{ metadata.footer.about }}</p>
                            <div class="rts-social-style-one">
                                <ul>
                                    {% for platform, url in metadata.footer.social %}
                                    <li>
                                        <a href="{{ url }}" target="_blank" >
                                            <i class="fa-brands fa-{{ platform }}"></i>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="single-footer-component">
                        <div class="title-area">
                            <h5 class="title">Resources</h5>
                        </div>
                        <div class="body">
                            <div class="pages-footer">
                                <ul>
                                    {% for item in metadata.footer.resources %}
                                    <li>
                                        <a href="{{ item.url }}">
                                            <i class="fa-regular fa-chevron-right"></i>
                                            <p>{{ item.title }}</p>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>



<div class="single-footer-component">
    <div class="title-area">
        <h5 class="title">Solutions</h5>
    </div>
    <div class="body">
        <div class="pages-footer">
            <ul>
                {% for solution in solutions.items %}
                <li>
                    <a href="{{ solution.link }}">
                        <i class="fa-solid fa-arrow-right"></i>
                        <p>{{ solution.tabTitle }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>                    <!-- Contact section remains the same as it uses the same data from above -->
                    {# include "components/footer-contact.njk" #}
                </div>
            </div>
        </div>





<div class="row pb--20 pt--20 border-top-copyright">
    <div class="col-lg-12">
        <p class="company-info">
            ZERONET CLEAN ENERGY LIMITED is registered under the Uganda Registration Services Bureau (URSB),
            Registration Number: 80034575413440. <br> Copyright {% year %} All Rights Reserved.
        </p>
    </div>
</div>
    <div class="footer-one-left-right-image">
        <img class="one" src="/assets/images/footer/08.png" alt="">
        <img class="two" src="/assets/images/footer/09.png" alt="">
    </div>
</div>
