<!-- header style two -->
<div class="header-header-two">
    <!-- header- solaric two -->
    <div class="header-two-solari header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-top-m">
                        <div class="left">
                            <div class="inf">
                                <i class="fa-regular fa-clock"></i>
                                <p>Mon - Fri 8:00 AM - 6:00 PM / Saturday 9:00  AM - 2:00 PM</p>
                            </div>
                            <div class="inf">
                                <i class="fa-regular fa-envelope"></i>
                                <a href="mailto:info@zeronetcleanenergy.com">info@zeronetcleanenergy.com</a>
                            </div>
                        </div>
                        <div class="right">
                            <div class="social-header-top-h2">
                                <span>Follow Us:</span>
                                <ul>
                                    <li><a href="https://www.linkedin.com/company/zeronet-clean-energy-ltd/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header main -->
    <div class="header-main-h2 header--sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-haeder-wrapper-h2">
                        <a href="/" class="logo-area">
                            <img src="/assets/images/logo/logo-01.png" alt="logo">
                        </a>

                        <div class="header-nav main-nav-one">
                            <nav>
                                {% set navPages = collections.all | eleventyNavigation %}
                                <ul>
                                    {%- for entry in navPages %}
                                    <li>
                                        <a class="nav-link{% if entry.url == page.url %} active{% endif %}" href="{{ entry.url | url }}">{{ entry.title | upper }}</a>
                                    </li>
                                    {%- endfor %}
                                </ul>
                            </nav>
                        </div>


                        <div class="actions-area">
                                   <div class="menu-btn" id="menu-btn">
                            <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect y="14" width="20" height="2" fill="#4AAB3D" />
                                <rect y="7" width="20" height="2" fill="#4AAB3D" />
                                <rect width="20" height="2" fill="#4AAB3D" />
                            </svg>
                        </div>
                            <a href="/appointments" class="rts-btn btn-primary">Request an Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Side bar -->
<div id="side-bar" class="side-bar header-two">
    <button class="close-icon-menu"><i class="far fa-times"></i></button>

    <!-- mobile menu area start -->
    <div class="mobile-menu-main">
        <nav class="nav-main mainmenu-nav mt--30">
            <ul class="mainmenu metismenu" id="mobile-menu-active">
                <li>
                    <a href="/" class="main">Home</a>
                </li>
                <li>
                    <a href="/about" class="main">About</a>
                </li>
                <li>
                    <a href="/services" class="main">Services</a>
                </li>
                <li>
                    <a href="/careers" class="main">Careers</a>
                </li>
                <li>
                    <a href="/strategy" class="main">Strategy</a>
                </li>
                <li>
                    <a href="/contact" class="main">Contact</a>
                </li>

            </ul>
        </nav>
                <div>

                            <a href="/appointments" class="rts-btn btn-primary">Book Appointment</a>
                </div>
        <div class="rts-social-style-one pl--20 mt--100">
            <ul>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/zeronet-clean-energy-ltd/" target="_blank">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- mobile menu area end -->
</div>
<!-- header style two End -->
