{% extends "layouts/base.njk" %}

{% block header %}
    {% include "components/header/home-header.njk" %}
{% endblock %}

{% block content %}
    {{ content | safe }}
{% endblock %}

{% block footer %}
    {% include "components/footer/home-footer.njk" %}
{% endblock %}
