---
layout: layouts/base.njk
---

{% include "components/pages/home/banner.njk" %}
{% include "components/pages/home/serviceArea.njk" %}
{% include "components/pages/home/about.njk" %}
{% include "components/pages/home/services.njk" %}
{% include "components/pages/home/workingProcess.njk" %}
{% include "components/pages/home/faq.njk" %}
{% include "components/pages/home/cta.njk" %}
{# include "components/pages/home/partners.njk" #}

{{ content | safe }}
