---
layout: layouts/base.njk
section: page
---
{# Include breadcrumb for all pages #}
{% include "components/breadcrumb.njk" %}

{# Dynamic page content inclusion based on page type #}
{% if pageType %}
  {% set pageTemplate = "components/pages/" + pageType + "/index.njk" %}
  {% include pageTemplate %}
{% endif %}

{# Main content from markdown files, skipped for specific pages #}
<main class="page-content">
  {% if page.url != "/terms-and-conditions/" and page.url != "/privacy-policy/" %}
    {{ content | safe }}
  {% endif %}
</main>
